.comments-post-section{
    margin-left: 40px;
    max-width: 875px;
}
.comments-header{
    font-size: 24px;
}
.break-line{
    border: 1px solid black;
}
.comment-reply-post-btn{
    width: 140px;
    height: 40px;
    margin-top: 20px;
    background: #7CBC5F;
    border-radius: 50px;
    border:none;
    outline:none;
    font-weight:bold;
    font-size:14px;

}