.music-container{
    position: relative;
    width: 760px;
    height: 940px;
    margin:auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -0.76%, rgba(255, 255, 255, 0.5) 99.24%), #7CBC5F;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}