.music-container{
    position: absolute;
    width: calc(760*var(--size));
    top: 2%;
    height: 96%;
    left: 50%;
    transform: translate(-50%   ,0);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -0.76%, rgba(255, 255, 255, 0.5) 99.24%), #7CBC5F;
    box-shadow: inset 0px calc(4*var(--size)) calc(4*var(--size)) rgba(0, 0, 0, 0.25);
    z-index: 4;
}

