


#reg-left-ellipse{
    position: absolute;
    width: calc(500*var(--size));
    height: calc(500*var(--size));
    left: calc(-220*var(--size));
    top: calc(-306*var(--size));

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}
#reg-right-ellipse{
        position: absolute;
    width: calc(500*var(--size));
    height: calc(500*var(--size));
    left: calc(-96*var(--size));
    top: calc(-250*var(--size));

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}
#reg-small-ellipse-1{
    position: absolute;
    width: calc(100*var(--size));
    height: calc(100*var(--size));
    left: calc(212*var(--size));
    top: calc(-36.5*var(--size));

    background: #7CBC5F;
    border-radius: 50%;
}
#reg-small-ellipse-2{
    position: absolute;
    width: calc(100*var(--size));
    height: calc(100*var(--size));
    left: calc(262*var(--size));
    top: calc(135*var(--size));

    background: #7CBC5F;
    border-radius: 50%;
}
#reg-small-ellipse-3{
    position: absolute;
    width: calc(100*var(--size));
    height: calc(100*var(--size));
    left: calc(54*var(--size));
    top: calc(185*var(--size));

    background: #7CBC5F;
    border-radius: 50%;
}
#reg-form{
    position: absolute;
    width: calc(585*var(--size));
    height: calc(740*var(--size));
    left: 50%;
    transform: translate(-50%   ,0);
    top: 14.453125%;

    background: linear-gradient(180deg, rgba(169, 217, 147, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), #7EC272;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#reg-form-header{
    display:flex;

    margin-left: 12%;
    margin-top: 7%;
    margin-bottom: calc(30*var(--size));
}
#reg-form input{
    margin-bottom:calc(40*var(--size));
    margin-left: 15%;
    width: calc(380*var(--size));
    height: calc(50*var(--size));
    padding-left: calc(15*var(--size));
    font-family: 'Source Serif Pro',sans-serif;
    font-size: calc(24*var(--size));
    outline:none;
}
#reg-email-field{
    height: calc(40*var(--size));
    margin-bottom: calc(10*var(--size));

    background: #fff;
    border: none;
    color: #000;
    outline: none;
}

#reg-login-field{
    
    height: calc(40*var(--size));
    margin-bottom: calc(10*var(--size));

    background: #fff;
    border: none;
    color: #000;
    outline: none;
}
#reg-pass-field{
    
    height: calc(40*var(--size));
    margin-bottom: calc(10*var(--size));

    background: #fff;
    border: none;
    color: #000;
    outline: none;
}
form #reg-btn{
    border: none;
    display: block;
    background: #7EC272;
    height: calc(50*var(--size));
    width: calc(290*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    font-size: calc(24*var(--size));
    margin-left: 24%;
    color: #ffffff;
    text-align: center;
    -moz-border-radius: calc(5*var(--size));
    -webkit-border-radius: calc(5*var(--size));
    border-radius: calc(5*var(--size));
    padding-left: calc(5*var(--size));
    -moz-box-shadow: 0px 3px 1px #2e885d;
    -webkit-box-shadow: 0px 3px 1px #2e885d;
    box-shadow: 0px 3px 1px #2e885d;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    outline: none;
}
#reg-btn:hover{
    background: #92CE76;
    -moz-box-shadow: 0 3px 1px #2e885d;
    -webkit-box-shadow: 0 3px 1px #2e885d;
    box-shadow: 0 3px 1px #2e885d;
}
#reg-btn a{
    text-decoration: none;
    color: #000;
}
#reg-btn:active{
    background:#74BC70;
    box-shadow:  0 3px 1px #2e885d;
}


#reg-form-logo{
    width: calc(80*var(--size));
    height: calc(80*var(--size));
    margin-left: calc(-25*var(--size));;
}
#reg-form-title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: calc(40*var(--size));
    line-height: calc(42*var(--size));
    text-align: center;
    margin-left: 10%;
    margin-top: 3.5%;
}
#reg-shadow{
    
    position: absolute;
    width: calc(400*var(--size));
    height: calc(700*var(--size));
    left: 50%;
    top: 5.6640625%;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.45) 100%), rgba(206, 251, 185, 0.45);
}
#to-after{
    text-decoration: none;
}
.error-msg{
    font-family: 'Open Sans', sans-serif;
    font-size: calc(20*var(--size));
    margin-left: 15%;
    color: red;
    margin-bottom: calc(2*var(--size));
    max-width: 70%;
}
.check-email{
    font-family: 'Open Sans', sans-serif;
    font-size: calc(20*var(--size));
    margin-bottom: calc(2*var(--size));
}
.check-email-valid{
    font-family: 'Open Sans', sans-serif;
    font-size: calc(20*var(--size));
    margin-left: 15%;
    margin-bottom: calc(2*var(--size));
    max-width: 70%;
}
#reg-email-field-incorrect{
    height: calc(40*var(--size));
    margin-bottom: calc(10*var(--size));
    
    background: #fff;
    border: 1px solid red;
    color: #000;
    outline: none;
}
.mlmax{
    margin-left: calc(85*var(--size));
    max-width: 68.5%;
}