#add-btn{
    position: absolute;;
    width: calc(160*var(--size));
    height: calc(160*var(--size));
    background: #92CE76;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: none;
    margin-left: calc(20*var(--size));
    overflow:hidden;
    margin-top: calc(20*var(--size));
    bottom:calc(60*var(--size));
}
#add-btn-img{
    width: calc(100*var(--size));
    height: calc(100*var(--size));
    background: #92CE76;
    margin-left:0;
}
