body{
    margin:0;
    overflow:hidden;
    font-family: 'Source Serif Pro', sans-serif;
    --size: calc(0.80*1px + (1*0.4) * ((100vw - 480px) / (2560 - 480)));
}
#chat-logo{
    margin-left: calc(328*var(--size));
    cursor: pointer;
}
.chat-page{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%), #92CE76;
    height: 100vh;
}

.chat-big-ellipse{
    position: absolute;
    width: calc(440*var(--size));
    height: calc(440*var(--size));
    border: 1px solid #2B6C34;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 1;
}
.chat-ellipse{
    position:absolute;
    width: calc(100*var(--size));
    height: calc(100*var(--size));
    background: #EEEEEE;
    border-radius: 50%;
    z-index:2;
}
#chat-big-1{
    right:calc(-44*var(--size));
    top: calc(-350*var(--size));
}
#chat-big-2{
    right: calc(-286*var(--size));
    top: calc(-12*var(--size));
}
#chat-1{
    top: calc(-41*var(--size));
    right: calc(300*var(--size));
}
#chat-2{
    top: calc(40*var(--size));
    right: calc(80*var(--size));
}
#chat-3{
    top: calc(220*var(--size));
    right: calc(105*var(--size));
}
#chat-4{
    top: calc(378*var(--size));
    right: calc(-30*var(--size));
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.25),
only screen and (-moz-min-device-pixel-ratio: 1.25),
only screen and (-o-min-device-pixel-ratio: 5/4),
only screen and (min-device-pixel-ratio: 1.25)
{
    body{
        --size: calc(0.80*0.8px + (0.8*0.4) * ((100vw - 480px) / (2560 - 480)));
    }
}
