
.profile-posts{
    height: 580px;
    min-width: 665px;
    margin-right:120px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.profile-posts::-webkit-scrollbar{
    width: 0px;
    background: none;
}
.profile-posts::-webkit-scrollbar-thumb{
    background:none;
}
.profile-posts::-webkit-scrollbar-thumb:hover{
    background: none;
    border-radius: 7px;
}