
.profile-posts{
    height: calc(96vh - calc(380*var(--size)));
    min-width: calc(665*var(--size));
    margin-right:calc(120*var(--size));
    overflow-y: scroll;
    overflow-x:hidden;
}
.profile-posts::-webkit-scrollbar{
    width: calc(0*var(--size));
    background: none;
}
.profile-posts::-webkit-scrollbar-thumb{
    background:none;
}
.profile-posts::-webkit-scrollbar-thumb:hover{
    background: none;
    border-radius: calc(7*var(--size));
}