
.tab {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: #7CBC5F;
    max-height: 43px;
    color: white;
    min-width: 200px;
    border-right: 1px solid darkgreen;
}

.chat-name{
    margin-left: 10px;
    margin-top: 6%;
}
.close-div{
    width: 30px;
    height: 30px;
    margin-top: 4%;
    margin-right: 5px;
    background: #C4C4C4;
    border-radius: 50%;
}

.close-icon{
    margin-left:7px;
    margin-top: 23%;
}

