
.tab {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: #7CBC5F;
    max-height: calc(43*var(--size));
    color: white;
    min-width: calc(200*var(--size));
    border-right: 1px solid darkgreen;
}

.chat-name{
    margin-left: calc(10*var(--size));
    margin-top: calc(12*var(--size));
    cursor: pointer;
}
.close-div{
    width: calc(30*var(--size));
    height: calc(30*var(--size));
    margin-top: calc(4*var(--size));
    margin-right: calc(5*var(--size));
    cursor: pointer;
    margin-left:calc(5*var(--size));
    background: #C4C4C4;
    border-radius: 50%;
}

.close-icon{
    margin-left:calc(7*var(--size));
    margin-top: calc(7*var(--size));
}

