.chat-form{
    display:flex;
    margin-top: calc(30*var(--size));
}
.chat-input-container{
    width: calc(700*var(--size));
    height: calc(80*var(--size));
    margin-left: calc(110*var(--size));
    border: 1px solid #48BF4A;
    box-sizing: border-box;
    border-radius: calc(50*var(--size));
    overflow:hidden;
}
.chat-input-container-invalid{
    width: calc(700*var(--size));
    height: calc(80*var(--size));
    margin-left: calc(110*var(--size));
    border: 1px solid red;
    box-sizing: border-box;
    border-radius: calc(50*var(--size));
    overflow:hidden;
}
.top-fixed{
    position: absolute;
    left: 0;
    top: calc(-75*var(--size));
}
.msg-input{
    margin-left: calc(22*var(--size));
    margin-top: calc(26*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    border:none;
    resize:none;
    outline:none;
    font-size:calc(17*var(--size));
    width: calc(650*var(--size));
}
.msg-input::-webkit-scrollbar{
    width:0;
    height:0;
}
.msg-input::-webkit-scrollbar-thumb{
    width:0;
    height:0;
}


.send-btn {
    width: calc(70*var(--size));
    height: calc(70*var(--size));
    background: #92CE76;
    border-radius: 50%;
    margin-left: calc(9*var(--size));
    overflow: hidden;
}
.msg-send{
    background: url('./send_icon_react.svg');
    outline:none;
    margin-left: calc(16*var(--size));
    margin-top: calc(19*var(--size)); 
    width: calc(50*var(--size));
    height: calc(32*var(--size));
    border:none;
}
