
.user-to-info{
    display:flex;
}

.user-to-img{
    margin-left: 30px;
}
.user-to-name{
    margin-left: 670px;
    font-family: 'Source Serif Pro', sans-serif;
}
.message-to-container{
    margin-left: 430px;
    max-width: 380px;
    padding-right: 22px;
    min-height: 70px;
    padding-bottom:21px;
    word-wrap: break-word;
    padding-left: 22px;
    padding-top:21px;
    border: 1px solid #48BF4A;
    box-sizing: border-box;
    border-radius: 50px;
}
.msg-to{
    margin-left: 22px;
    margin-top: 21px;
    overflow:hidden;
    max-width: 336px;
    min-height: 22px;
    font-family: 'Source Serif Pro', sans-serif;
}
 .user-to-img{
    width: 50px;
    height: 50px;
    background: #C4C4C4;
    border-radius: 50%;
}
.user-to-img-exist{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-to-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
    overflow: hidden;
}
