
.user-to-info{
    display:flex;
}

.user-to-img{
    margin-left: calc(30*var(--size));
    cursor: pointer;
}
.user-to-name{
    margin-left: calc(610*var(--size));
    width: calc(190*var(--size));
    cursor: pointer;
    text-align:right;
    font-family: 'Source Serif Pro', sans-serif;
}
.message-to-container{
    margin-left: calc(430*var(--size));
    max-width: calc(380*var(--size));
    padding-right: calc(22*var(--size));
    min-height: calc(70*var(--size));
    padding-bottom:calc(21*var(--size));
    word-wrap: break-word;
    padding-left: calc(22*var(--size));
    padding-top:calc(21*var(--size));
    border: 1px solid #48BF4A;
    box-sizing: border-box;
    border-radius: calc(50*var(--size));
}
.msg-to{
    margin-left: calc(22*var(--size));
    margin-top: calc(21*var(--size));
    overflow:hidden;
    max-width: calc(336*var(--size));
    min-height: calc(22*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
}
 .user-to-img{
    width: calc(50*var(--size));
    height: calc(50*var(--size));
    cursor: pointer;
    background: #C4C4C4;
    border-radius: 50%;
}
.user-to-img-exist{
    width: calc(50*var(--size));
    height: calc(50*var(--size));
    border-radius: 50%;
    cursor: pointer;
}
.user-to-avatar{
    width: calc(50*var(--size));
    height: calc(50*var(--size));
    border-radius: 50%;
    cursor: pointer;
    margin-left: calc(40*var(--size));
    overflow: hidden;
}
