.profile-friends, .profile-groups, .profile-music, .profile-chats{
    width: calc(200*var(--size));
    height: calc(50*var(--size));
    margin-left: calc(50*var(--size));
    margin-bottom: calc(30*var(--size));
    background: #7CBC5F;
    border-radius: calc(50*var(--size));
    border:none;
    outline:none;
    font-weight:bold;
    cursor: pointer;
    font-size:calc(20*var(--size));
} 

.profile-friends:active, .profile-groups:active, .profile-music:active, .profile-chats:active{
    border: calc(1*var(--size)) solid black;
}

