
.friends-app{
	margin:0;
	padding-top: calc(50*var(--size));
	height: 100vh;
	padding-bottom: calc(20*var(--size));
    background: linear-gradient(180deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.2)),#92ce76;

}
#friends-logo{
	margin-left: calc(470*var(--size));
	margin-top: calc(-50*var(--size));
}
.friends-app-window{
	position: absolute;
	left: 50%;
    transform: translate(-50%   ,0);
	width: calc(960*var(--size));
	height: 92.9vh;
	overflow-y:scroll;
	background: #82bf66;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 3;
}

.friends-app-window::-webkit-scrollbar{
    width: 0px;
    background: none;
}
.friends-app-window::-webkit-scrollbar-thumb{
    background:none;
}
.friends-app-window::-webkit-scrollbar-thumb:hover{
    background: none;
    border-radius: calc(7*var(--size));
}

#friends-left-ellipse{
	position: absolute;
	width: calc(440*var(--size));
	height: calc(440*var(--size));
	left: calc(1394*var(--size));
	top: calc(-350*var(--size));
	border-radius: 50%;
	border: calc(1*var(--size)) solid #2B6C34;
	box-sizing: border-box;
	z-index: 1;
}

#friends-right-ellipse{
	position: absolute;
	width: calc(440*var(--size));
	height: calc(440*var(--size));
	left: calc(1623*var(--size));
	top: calc(-12*var(--size));
	border-radius: 50%;
	border: calc(1*var(--size)) solid #2B6C34;
	box-sizing: border-box;
	z-index: 1;
}

#friends-small-ellipse-1{
	position: absolute;
	width: calc(100*var(--size));
	height: calc(100*var(--size));
	left: calc(1394*var(--size));
	top: calc(-41*var(--size));
	border-radius:50%;
	background: #FFFFFF;
	z-index: 2;
}

#friends-small-ellipse-2{
	position: absolute;
	width: calc(100*var(--size));
	height: calc(100*var(--size));
	left: calc(1600*var(--size));
	top: calc(40*var(--size));
	border-radius:50%;
	background: #FFFFFF;
	z-index: 2;
}

#friends-small-ellipse-3{
	position: absolute;
	width: calc(100*var(--size));
	height: calc(100*var(--size));
	left: calc(1577*var(--size));
	top: calc(220*var(--size));
	border-radius:50%;
	background: #FFFFFF;
	z-index: 2;
}

#friends-small-ellipse-4{
	position: absolute;
	width: calc(100*var(--size));
	height: calc(100*var(--size));
	left: calc(1720*var(--size));
	top: calc(378*var(--size));
	border-radius:50%;
	background: #FFFFFF;
	z-index: 2;
}
.btn-group{
    width: 100%;
}
.btn-group button {
	border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -35.83%, rgba(255, 255, 255, 0.3) 64.17%), #7CBC5F;
    padding: calc(14*var(--size)) calc(28*var(--size));
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: calc(24*var(--size));
	cursor: pointer;
	line-height: calc(28*var(--size));
	text-align: center;
	color: #FFFFFF;
	outline: none;
}

.btn-group button:active{
    background: #7CBC5F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-group button:hover{

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-group button:focus{

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.all-friends-btn {

	width: 33.3%;
	cursor: pointer;
	height: calc(60*var(--size));
	left: 0px;
	top: 0px;
}

.online-friends-btn {

    width: 33.4%;
	height: calc(60*var(--size));
	left: calc(100*var(--size));
	cursor: pointer;
	top: 0px;
}
.friends-search-input {
	display:flex;
}
.friends-search-input{
	width: calc(870*var(--size));
	height: calc(70*var(--size));
	margin-left: calc(13*var(--size));
	margin-top: calc(20*var(--size));
	border: none;
	font-size: calc(20*var(--size));
	padding-bottom: calc(25*var(--size));
	padding-left: calc(25*var(--size));
	font-family: 'Source Serif Pro', sans-serif;
	overflow:hidden;
	outline:none;
}
.friends-search-btn{
	box-shadow: 1px 1px 3px inset;
	width: calc(200*var(--size));
    height: calc(45*var(--size));
	margin-left: calc(50*var(--size));
	margin-top: calc(30*var(--size));
	font-family: 'Source Serif Pro', sans-serif;
    font-size: calc(18*var(--size));
    background: #7CBC5F;
    border-radius: calc(50*var(--size));
    border:none;
    outline:none;
}
