.music-input{
    width: calc(670*var(--size));
	height: calc(50*var(--size));
	margin-left: calc(30*var(--size));
	margin-top: calc(20*var(--size));
	border: none;
	font-size: calc(20*var(--size));
    padding-bottom: calc(15*var(--size));
    padding-top: calc(15*var(--size));
    padding-left: calc(25*var(--size));
    border-radius: calc(50*var(--size));
	font-family: 'Source Serif Pro', sans-serif;
	overflow:hidden;
	outline:none;
}
.song-list{
	margin-top: calc(20*var(--size));
	height: calc(100% - calc(90*var(--size)))
}