.user-from-info{
    display:flex;
}
.user-from-img{
    margin-left: calc(30*var(--size));
}
.user-from-name{
    margin-left: calc(60*var(--size));
    cursor:pointer;
    font-family: 'Source Serif Pro', sans-serif;
}
.message-from-container{
    margin-left: calc(110*var(--size));
   max-width: calc(380*var(--size));
    padding-right: calc(22*var(--size));
    min-height: calc(70*var(--size));
    padding-bottom:calc(21*var(--size));
    word-wrap: break-word;
    padding-left: calc(22*var(--size));
    padding-top:calc(21*var(--size));
    border: 1px solid #48BF4A;
    box-sizing: border-box;
    border-radius: calc(50*var(--size));
}

.user-from-img{
    width: calc(50*var(--size));
    height: calc(50*var(--size));
    background: #C4C4C4;
    cursor: pointer;
    border-radius: 50%;
}
.user-from-img-exist{
     width: calc(50*var(--size));
    height: calc(50*var(--size));
    cursor:pointer;
    border-radius: 50%;
}
.user-from-avatar{
   width: calc(50*var(--size));
    height: calc(50*var(--size));
    border-radius: 50%;
    cursor: pointer;
    margin-left: calc(30*var(--size));
    overflow: hidden;
}
.chat-profile-link{
    text-decoration: none;
    color: black;
}
