.user-from-info{
    display:flex;
}
.user-from-img{
    margin-left: 30px;
}
.user-from-name{
    margin-left: 60px;
    font-family: 'Source Serif Pro', sans-serif;
}
.message-from-container{
    margin-left: 110px;
   max-width: 380px;
    padding-right: 22px;
    min-height: 70px;
    padding-bottom:21px;
    word-wrap: break-word;
    padding-left: 22px;
    padding-top:21px;
    border: 1px solid #48BF4A;
    box-sizing: border-box;
    border-radius: 50px;
}

.user-from-img{
    width: 50px;
    height: 50px;
    background: #C4C4C4;
    border-radius: 50%;
}
.user-from-img-exist{
     width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-from-avatar{
   width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
    overflow: hidden;
}
.chat-profile-link{
    text-decoration: none;
    color: black;
}
