
.group-posts{
    height: calc(96vh - calc(454*var(--size)));
    min-width: calc(665*var(--size));
    margin-top: calc(220*var(--size));
    margin-left: calc(130*var(--size));
    overflow-y: scroll;
    overflow-x:hidden;
}
.group-posts::-webkit-scrollbar{
    width: 0px;
    background: none;
}
.group-posts::-webkit-scrollbar-thumb{
    background:none;
}
.group-posts::-webkit-scrollbar-thumb:hover{
    background: none;
    border-radius: 7px;
}