
.group-posts{
    height: 510px;
    min-width: 665px;
    margin-top: 220px;
    margin-left: 150px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.group-posts::-webkit-scrollbar{
    width: 0px;
    background: none;
}
.group-posts::-webkit-scrollbar-thumb{
    background:none;
}
.group-posts::-webkit-scrollbar-thumb:hover{
    background: none;
    border-radius: 7px;
}