.settings{
    padding-left: 20%;
    display:block;
    font-family: 'Source Serif Pro', sans-serif;
}
.set-field{
    display:block;
    width: 70%;
    height: calc(50*var(--size));
    margin-bottom: calc(30*var(--size));
    font-size: calc(24*var(--size));
    background: #fff;
    border: none;
    color: #000;
    outline: none;
    font-family: 'Source Serif Pro', sans-serif;
    box-shadow: 0 calc(1*var(--size)) calc(3*var(--size)) inset;
}
.max{
    max-width: 70%;
}
.set-field-invalid{
    display:block;
    width: 70%;
    height: calc(50*var(--size));
    margin-bottom: calc(30*var(--size));
    font-size: calc(24*var(--size));
    background: #fff;
    border: calc(1*var(--size)) solid red;
    color: #000;
    outline: none;
    font-family: 'Source Serif Pro', sans-serif;
    box-shadow: 0 calc(1*var(--size)) calc(3*var(--size)) inset;
}
.hobby-field{
    margin-top: calc(10*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    border:none;
    resize:none;
    outline:none;
    padding-top: calc(25*var(--size));
    padding-left: calc(25*var(--size));
    padding-right: calc(25*var(--size));
    height: calc(100*var(--size));
    font-size:calc(24*var(--size));
    width: 64%;
    border-radius: calc(25*var(--size));
    box-shadow: 0 calc(1*var(--size)) calc(3*var(--size)) inset;
}
.hobby-field-invalid{
    margin-top: calc(10*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    border:calc(1*var(--size)) solid red;
    resize:none;
    outline:none;
    padding-top: calc(25*var(--size));
    padding-left: calc(25*var(--size));
    padding-right: calc(25*var(--size));
    height: calc(100*var(--size));
    font-size:calc(24*var(--size));
    width: 64%;
    border-radius: calc(25*var(--size));
    box-shadow: 0 calc(1*var(--size)) calc(3*var(--size)) inset;
}
.modal-title{
    font-size: calc(30*var(--size));
    margin: 0;
    margin-bottom: calc(20*var(--size));
    margin-left: calc(180*var(--size));
}
.send-info-btn{
    display:block;
    width: calc(160*var(--size));
    height: calc(50*var(--size));
    background:#7CBC5F;
    font-size: calc(20*var(--size));
    margin-top: calc(20*var(--size));
    border-radius: calc(50*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    margin-left: calc(170*var(--size));
    cursor: pointer;
    border: calc(1*var(--size)) solid #7CBC5F;
    outline: none;
}