.settings{
    padding-left: 20%;
    display:block;
    font-family: 'Source Serif Pro', sans-serif;
}
.set-field{
    display:block;
    width: 70%;
    height: 50px;
    margin-bottom: 30px;
    font-size: 24px;
    background: #fff;
    border: none;
    color: #000;
    outline: none;
    font-family: 'Source Serif Pro', sans-serif;
    box-shadow: 0 1px 3px inset;
}
.set-field-invalid{
    display:block;
    width: 70%;
    height: 50px;
    margin-bottom: 30px;
    font-size: 24px;
    background: #fff;
    border: 1px solid red;
    color: #000;
    outline: none;
    font-family: 'Source Serif Pro', sans-serif;
    box-shadow: 0 1px 3px inset;
}
.hobby-field{
    margin-top: 10px;
    font-family: 'Source Serif Pro', sans-serif;
    border:none;
    resize:none;
    outline:none;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    height: 100px;
    font-size:24px;
    width: 64%;
    border-radius: 25px;
    box-shadow: 0 1px 3px inset;
}
.hobby-field-invalid{
    margin-top: 10px;
    font-family: 'Source Serif Pro', sans-serif;
    border:1px solid red;
    resize:none;
    outline:none;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    height: 100px;
    font-size:24px;
    width: 64%;
    border-radius: 25px;
    box-shadow: 0 1px 3px inset;
}
.modal-title{
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 180px;
}
.send-info-btn{
    display:block;
    width: 160px;
    height: 50px;
    background:#7CBC5F;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 50px;
    font-family: 'Source Serif Pro', sans-serif;
    margin-left: 170px;
    border: 1px solid #7CBC5F;
    outline: none;
}