


#thanks-big-ellipse-top{
    position: absolute;
            width: calc(500*var(--size));
            height: calc(500*var(--size));
            right: calc(-219*var(--size));
            top: calc(-194*var(--size));
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 50%;
}
#thanks-big-ellipse-bot{
    position: absolute;
            width: calc(500*var(--size));
            height: calc(500*var(--size));
            right: calc(-219*var(--size));
            top: calc(84*var(--size));
            
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 50%;
}
#thanks-small-ellipse-1{
    position: absolute;
            width: calc(100*var(--size));
            height: calc(100*var(--size));
            right: calc(231*var(--size));
            top: calc(-44*var(--size));
            border-radius: 50%;
            background: #7CBC5F;
}
#thanks-small-ellipse-2{
    position: absolute;
            width: calc(100*var(--size));
            height: calc(100*var(--size));
            right: calc(181*var(--size));
            top: calc(135*var(--size));
            border-radius: 50%;
            background: #7CBC5F;
}
#thanks-small-ellipse-3{
    position: absolute;
            width: calc(100*var(--size));
            height: calc(100*var(--size));
            right: calc(231*var(--size));
            top: calc(314*var(--size));
            border-radius: 50%;
            background: #7CBC5F;
}
#thanks-small-ellipse-4{
    position: absolute;
            width: calc(100*var(--size));
            height: calc(100*var(--size));
            right: calc(31*var(--size));
            top: calc(534*var(--size));
            border-radius: 50%;
            background: #7CBC5F;
}
#thanks-logo{
    position: absolute;
            width: calc(50*var(--size));
            height: calc(50*var(--size));
            left: calc(585*var(--size));
            top: 27.93vh;
}
#thanks-title{
    position: absolute;
            width: calc(733*var(--size));
            height: calc(56*var(--size));
            left: 50%;
            transform: translate(-50%   ,0);
            top: calc(27.93vh + calc(60*var(--size)));
            
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: calc(48*var(--size));
            line-height: calc(56*var(--size));
            text-align: center;
            
            color: #000000;
}
#thanks-subtitle{
    position: absolute;
            width: calc(651*var(--size));
            height: calc(42*var(--size));
            left: 50%;
            transform: translate(-50%   ,0);
            top: calc(27.93vh + calc(126*var(--size)));
            
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: calc(36*var(--size));
            line-height: calc(42*var(--size));
            text-align: center;
            
            color: #000000;
}
#to-login{
    text-decoration: none;
}
#thanks-btn{
    position: absolute;
        
    left: 50%;
    transform: translate(-50%   ,0);
        top: calc(27.93vh + calc(278*var(--size)));
        
        border: none;
    cursor: pointer;
    display: block;
    background: #7EC272;
    height: calc(50*var(--size));
    width: calc(240*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    font-size: calc(24*var(--size));
    color: #ffffff;
    text-align: center;
    -moz-border-radius: calc(5*var(--size));
    -webkit-border-radius: calc(5*var(--size));
    border-radius: calc(5*var(--size));
    -moz-box-shadow: 0px 3px 1px #2e885d;
    -webkit-box-shadow: 0px 3px 1px #2e885d;
    box-shadow: 0px 3px 1px #2e885d;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    outline: none;
}
#thanks-btn:hover{
    background: #92CE76;
    -moz-box-shadow: 0 3px 1px #2e885d;
    -webkit-box-shadow: 0 3px 1px #2e885d;
    box-shadow: 0 3px 1px #2e885d;
}

#thanks-btn:active{
    background:#74BC70;
    box-shadow:  0 3px 1px #2e885d;
}