
.group-create-post{
    width: 140px;
    height: 30px;
    margin-top: 24px;
    margin-left: 30px;
    background: #7CBC5F;
    border-radius: 50px;
    border:none;
    outline:none;
    font-weight:bold;
    font-size:12px;
    
}
.group-create-post:active{
    border:1px solid black;
}

.group-post-create-modal{
    z-index:11;
}
.group-post-input{
    margin-left: 45px;
    margin-top: 10px;
    font-family: 'Source Serif Pro', sans-serif;
    border:none;
    resize:none;
    outline:none;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    height: 330px;
    font-size:17px;
    width: 810px;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 0 1px 3px inset;
}
.group-post-input-invalid{
    margin-left: 45px;
    margin-top: 10px;
    font-family: 'Source Serif Pro', sans-serif;
    border:none;
    resize:none;
    outline:none;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    height: 330px;
    font-size:17px;
    width: 810px;
    border: 1px solid red;
    border-radius: 25px;
    box-shadow: 0 1px 3px inset;
}
.group-post-create-img{
    margin-left: 45px;
    width: 860px;
    height: 300px;
    border-radius: 25px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px inset;
}
.group-post-input::-webkit-scrollbar{
    width:0;
    height:0;
}
.group-post-input::-webkit-scrollbar-thumb{
    width:0;
    height:0;
}
.group-post-send-btn {
    width: 120px;
    height: 40px;
    background: #92CE76;
    border-radius: 50px;
    margin-left: 9px;
}
.group-post-send{
    outline:none;
    margin-left: 45px;
    margin-top: 19px; 
    width: 120px;
    height: 40px;
    background: #92CE76;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Source Serif Pro', sans-serif;
    border:none;
    box-shadow: 0px 1px 3px inset;
}
.group-post-send:active{
    box-shadow: none;
}
.group-close-btn{
    outline:none;
    margin-left: 16px;
    margin-top: 19px; 
    width: 120px;
    height: 40px;
    background: #92CE76;
    border-radius: 50px;
    border:none;
}
.group-add-file{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right:15px;
    font-family: 'Source Serif Pro', sans-serif;
}