
.group-create-post{
    width: calc(140*var(--size));
    height: calc(30*var(--size));
    margin-top: calc(24*var(--size));
    margin-left: calc(30*var(--size));
    background: #7CBC5F;
    border-radius: calc(50*var(--size));
    border:none;
    outline:none;
    font-weight:bold;
    font-size:calc(12*var(--size));
    
}
.group-create-post:active{
    border:1px solid black;
}

.group-post-create-modal{
    z-index:11;
}
.group-post-input{
    margin-left: calc(45*var(--size));
    margin-top: calc(10*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    border:none;
    resize:none;
    outline:none;
    padding-top: calc(25*var(--size));
    padding-left: calc(25*var(--size));
    padding-right: calc(25*var(--size));
    height: calc(330*var(--size));
    font-size:calc(17*var(--size));
    width: calc(810*var(--size));
    border: 1px solid white;
    border-radius: calc(25*var(--size));
    box-shadow: 0 1px 3px inset;
}
.group-post-input-invalid{
    margin-left: calc(45*var(--size));
    margin-top: calc(10*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    border:none;
    resize:none;
    outline:none;
    padding-top: calc(25*var(--size));
    padding-left: calc(25*var(--size));
    padding-right: calc(25*var(--size));
    height: calc(330*var(--size));
    font-size:calc(17*var(--size));
    width: calc(810*var(--size));
    border: 1px solid red;
    border-radius: calc(25*var(--size));
    box-shadow: 0 1px 3px inset;
}
.group-post-create-img{
    margin-left: calc(45*var(--size));
    width: calc(860*var(--size));
    height: calc(300*var(--size));
    border-radius: calc(25*var(--size));
    margin-bottom: calc(10*var(--size));
    box-shadow: 0 1px 3px inset;
}
.group-post-input::-webkit-scrollbar{
    width:0;
    height:0;
}
.group-post-input::-webkit-scrollbar-thumb{
    width:0;
    height:0;
}
.group-post-send-btn {
    width: calc(120*var(--size));
    height: calc(40*var(--size));
    background: #92CE76;
    cursor: pointer;
    border-radius: calc(50*var(--size));
    margin-left: calc(9*var(--size));
}
.group-post-send{
    outline:none;
    margin-left: calc(45*var(--size));
    margin-top: calc(19*var(--size)); 
    width: calc(120*var(--size));
    height: calc(40*var(--size));
    background: #92CE76;
    cursor: pointer;
    border-radius: calc(50*var(--size));
    font-size: calc(18*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    border:none;
    box-shadow: 0px 1px 3px inset;
}
.group-post-send:active{
    box-shadow: none;
}
.group-close-btn{
    outline:none;
    margin-left: calc(16*var(--size));
    margin-top: calc(19*var(--size)); 
    width: calc(120*var(--size));
    height: calc(40*var(--size));
    background: #92CE76;
    border-radius: calc(50*var(--size));
    cursor: pointer;
    border:none;
}
.group-add-file{
    padding-top: calc(9*var(--size));
    padding-bottom: calc(9*var(--size));
    padding-left: calc(15*var(--size));
    padding-right:calc(15*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
}