.chat-group{
    margin: auto;
    margin-top: calc(30*var(--size));
}
.chat-group-image{
    width: calc(160*var(--size));
    height: calc(160*var(--size));
    background: #C4C4C4;
    border-radius: 50%;
    overflow: hidden;
    margin-left: calc(20*var(--size));
}
.chat-group-name{

    font-style: normal;
    font-weight: 300;
    font-size: calc(24*var(--size));
    line-height: calc(28*var(--size));
    text-align: center;

    color: #EEEEEE;
}
.user-pic{
    overflow:hidden;
    width: calc(160*var(--size));
    height: calc(160*var(--size));
    border-radius: 50%;
   margin-left: calc(20*var(--size));
}
