
.profile-info-header{
    display:flex;
    margin-left: calc(60*var(--size));
    margin-top:calc(11*var(--size));
}
.profile-username{
    margin-top: calc(25*var(--size));
    font-size: calc(28*var(--size));
    line-height: calc(33*var(--size));
}

.online{
    margin-top: calc(37*var(--size));
    margin-left: calc(10*var(--size));
    width: calc(10*var(--size));
	height: calc(10*var(--size));
	border-radius: 50%;
	background: red;
}
.offline{
    margin-top: calc(37*var(--size));
    margin-left: calc(10*var(--size));
    width: calc(10*var(--size));
	height: calc(10*var(--size));
	border-radius: 50%;
    background: #656565;
}
.profile-info-footer{
    margin-top: calc(26*var(--size));
    margin-left: calc(60*var(--size));
}
.profile-town, .profile-study, .profile-bday,.age,.school,.phone-number{
    font-size: calc(20*var(--size));
    line-height: calc(23*var(--size));
    margin-top:calc(9*var(--size));
    color: #000000;
}
.profile-btns{
    margin-right:calc(330*var(--size));
    margin-left: calc(250*var(--size));
    margin-top: calc(-47*var(--size));
}
.profile-readmore{
    width: calc(200*var(--size));
    height: calc(30*var(--size));
    background: #7CBC5F;
    border-radius: calc(50*var(--size));
    cursor: pointer;
    font-weight:bold;
    font-size:calc(14*var(--size));
    margin-top: calc(55*var(--size));
    border:none;
    outline:none;
}
.profile-readmore:active{
    border: calc(1*var(--size)) solid black;
}
.profile-create-post{
    width: calc(140*var(--size));
    height: calc(30*var(--size));
    margin-top: calc(24*var(--size));
    cursor: pointer;
    margin-left: calc(30*var(--size));
    background: #7CBC5F;
    border-radius: calc(50*var(--size));
    border:none;
    outline:none;
    font-weight:bold;
    font-size:calc(12*var(--size));
    
}
.profile-create-post:active{
    border:calc(1*var(--size)) solid black;
}


.post-input{
    margin-left: calc(45*var(--size));
    margin-top: calc(10*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    border:none;
    resize:none;
    outline:none;
    padding-top: calc(25*var(--size));
    padding-left: calc(25*var(--size));
    padding-right: calc(25*var(--size));
    height: calc(330*var(--size));
    font-size:calc(17*var(--size));
    width: calc(810*var(--size));
    border: calc(1*var(--size)) solid white;
    border-radius: calc(25*var(--size));
    box-shadow: 0 calc(1*var(--size)) calc(3*var(--size)) inset;
}
.post-input-invalid{
    margin-left: calc(45*var(--size));
    margin-top: calc(10*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    border: calc(1*var(--size)) solid red;
    resize:none;
    outline:none;
    padding-top: calc(25*var(--size));
    padding-left: calc(25*var(--size));
    padding-right: calc(25*var(--size));
    height: calc(330*var(--size));
    font-size:calc(17*var(--size));
    width: calc(810*var(--size));
    border: calc(1*var(--size)) solid white;
    border-radius: calc(25*var(--size));
    box-shadow: 0 calc(1*var(--size)) calc(3*var(--size)) inset;
}
.post-create-img{
    margin-left: calc(45*var(--size));
    width: calc(860*var(--size));
    height: calc(300*var(--size));

    border-radius: calc(25*var(--size));
    margin-bottom: calc(10*var(--size));
    box-shadow: 0 calc(1*var(--size)) calc(3*var(--size)) inset;
}
.post-input::-webkit-scrollbar{
    width:0;
    height:0;
}
.post-input::-webkit-scrollbar-thumb{
    width:0;
    height:0;
}
.post-send-btn {
    width: calc(120*var(--size));
    height: calc(40*var(--size));
    background: #92CE76;
    border-radius: calc(50*var(--size));
    margin-left: calc(9*var(--size));
    cursor: pointer;
}
.post-send{
    outline:none;
    margin-left: calc(45*var(--size));
    margin-top: calc(19*var(--size)); 
    width: calc(120*var(--size));
    height: calc(40*var(--size));
    background: #92CE76;
    border-radius: calc(50*var(--size));
    cursor: pointer;
    font-size: calc(18*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
    border:none;
    box-shadow: calc(0*var(--size)) calc(1*var(--size)) calc(3*var(--size)) inset;
}
.post-send:active{
    box-shadow: none;
}
.close-btn{
    outline:none;
    margin-left: calc(16*var(--size));
    margin-top: calc(19*var(--size)); 
    width: calc(120*var(--size));
    height: calc(40*var(--size));
    cursor: pointer;
    background: #92CE76;
    border-radius: calc(50*var(--size));
    border:none;
}
.add-file{
    padding-top: calc(9*var(--size));
    padding-bottom: calc(9*var(--size));
    cursor: pointer;
    padding-left: calc(15*var(--size));
    padding-right:calc(15*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
}
.ml{
    margin-left:calc(50*var(--size));
}
.inner-photo{
    width: inherit;
    height: inherit;
    border-radius: calc(25*var(--size));
}