.comment-profile-link{
    color: black;
    margin-right: 10px;
}
.comment-profile-link:hover{
    color: black;
    text-decoration: underline;
}
.comment-info{
    display:flex;
    max-height: 20px;
}
.comment{
    font-family: 'Source Serif Pro', sans-serif;
    margin-bottom: 20px;
}
.comment-reply{
    cursor: pointer;
    color: black;
}
.comment-reply:hover{
    text-decoration: underline;
}
.comment-text{
    padding-bottom:2px;
    margin-bottom: 2px;
    color: black;
    font-weight: 700;
}
.comment-img{

    margin-right: 20px;
    min-height: 60px;
    min-width: 60px;
    max-height: 60px;
    max-width: 60px;
    overflow: hidden;
    border-radius: 50%;
    background: #C4C4C4;

}
.comment-img-exists{

    margin-right: 20px;
    min-height: 60px;
    min-width: 60px;
    max-height: 60px;
    max-width: 60px;
    overflow: hidden;
    border-radius: 50%;

}
.comment-date{
    color: rgb(150, 150, 150);
    margin:0;
}
.secondary-comment{
    font-family: 'Source Serif Pro', sans-serif;
    margin-bottom: 20px;
    margin-left: 30px;
}
.comment-footer{
    display:flex;
}
.like{
    margin-top: -10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border-radius:50%;
    border:none;
    outline:none;
}
.delete{
    width: 40px;
    height: 40px;
    background: none;
    outline: none;
    border: none;
    margin-top: -10px;
}
.inner-comments{
    margin-left: 40px;
}
.comment-container{
    display: flex;
}
.like-number-comms{
    margin-left: 10px;
}
