.chat-info{
    width: calc(920*var(--size));
    height: calc(60*var(--size));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -35.83%, rgba(255, 255, 255, 0.3) 64.17%), #7CBC5F;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: space-between;
}
.chat-img{
    height: calc(50*var(--size));
    width: calc(50*var(--size));
    border-radius: 50%;
    background: #C4C4C4;
    margin-left: calc(30*var(--size));
    margin-top: calc(5*var(--size));
}
.chat-img-exist{
    height: calc(50*var(--size));
    width: calc(50*var(--size));
    border-radius: 50%;
    margin-left: calc(30*var(--size));
    margin-top: calc(5*var(--size));
}
.chat-img-icon{
    overflow: hidden;
    width: calc(50*var(--size));
    height: calc(50*var(--size));
    border-radius: 50%;
    margin-top: calc(5*var(--size));
    margin-left: calc(30*var(--size));
}
.chat-info-name{
    margin:0;
    font-size: calc(24*var(--size));
    line-height: calc(28*var(--size));
    margin-left: calc(30*var(--size));
    color: white;
    margin-top: calc(16*var(--size));
    font-family: 'Source Serif Pro', sans-serif;
}
.delete-chat{
    cursor: pointer;
    width: calc(140*var(--size));
    margin-top: calc(10*var(--size));
    height: calc(40*var(--size));
    margin-right: calc(20*var(--size));
    background: #7CBC5F;
    border-radius: calc(50*var(--size));
    border:none;
    outline:none;
    font-size:calc(16*var(--size));   
}
