.profile-post{
    width: 625px;
    max-height: 520px;
    margin-left: 40px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 99.99%, rgba(255, 255, 255, 0.0234375) 100%), #77BB59;
    border-radius: 5px;
    margin-bottom: 40px;
}
.profile-full-post{
    width: 950px;
    min-height: 520px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 99.99%, rgba(255, 255, 255, 0.0234375) 100%), #77BB59;
    padding-bottom: 20px;
}

.profile-post-header{
    display:flex;
    justify-content:space-between;
    margin-left: 40px;
    margin-right:40px;
}
.profile-post-header-left{
    display:flex;
}
.like-number{
    margin-top: 35px;
    margin-right: 10px;
    font-family: 'Source Serif Pro', sans-serif;

}
.profile-post-author{
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 15px;
    font-family: 'Source Serif Pro', sans-serif;

}
.profile-post-full-author{
    margin-top: 35px;
    margin-left: 300px;
    font-family: 'Source Serif Pro', sans-serif;

}
.profile-post-like{
    width: 40px;
    height: 40px;
    margin-top:25px;
    background: #7CBC5F;
    border-radius:50%;
    border:none;
    outline:none;
}
.post-like{
    margin-left:1px;
    margin-top:5px;
    width: 25px;
    height: 25px;
}

.profile-post-comments{
    width: 120px;
    height: 40px;
    margin-left:10px;
    margin-top:25px;
    background: #7CBC5F;
    border-radius: 50px;
    border:none;
    outline:none;
    font-weight:bold;
    font-size:14px;
}
.profile-post-comments:active{
    border:1px solid black;
}
.user-img, .user-full-img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    border-radius: 50%;
    background: #C4C4C4;
}
.user-full-img{
    margin-top: 5px;   
}
.post-img{
    width: 540px;
    height: 270px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.post-full-img{
    width: 875px;
    height: 270px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.post-text{
    font-size: 14px;
    line-height: 16px;
    margin-left:40px;
    max-width: 540px;
    max-height: 45px;
    margin-top:0;
    overflow-y:hidden;
}
.post-full-text{
    font-size: 14px;
    line-height: 16px;
    margin-left:40px;
    max-width: 875px;
    padding-bottom: 20px;
}
.post-readmore{
    width: 140px;
    height: 30px;
    margin-top:-15px;
    margin-left: 240px;
    margin-bottom: 20px;
    background: #7CBC5F;
    border-radius: 50px;
    border:none;
    outline:none;
    font-weight:bold;
    font-size:14px;
}
.post-readmore:active{
    border:1px solid black;
}
.close-btn{
    outline:none;
    margin-left: 16px;
    margin-top: 19px; 
    width: 120px;
    height: 40px;
    background: #92CE76;
    border-radius: 50px;
    border:none;
}
.close-post-btn{
    outline:none;
    margin-left: 16px;
    width: 120px;
    height: 40px;
    background: #92CE76;
    border-radius: 50px;
    border:none;
}
.post-time{
    color: rgb(150, 150, 150);
    margin-left: 30px;
    font-size: 18px;
    margin-top:25px;
    font-family: 'Source Serif Pro', sans-serif;
}
.post-full-time{
    color: rgb(150, 150, 150);
    margin-left: 30px;
    font-size: 18px;
    margin-top:30px;
    font-family: 'Source Serif Pro', sans-serif;
}
.post-avatar{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 50%;
}
