.chat{
    margin-top: calc(50*var(--size));
    height: calc(99% - calc(260*var(--size)));
    padding-bottom: calc(120*var(--size));
    overflow-x: hidden;
    margin-bottom: calc(30*var(--size));
    position: relative;
    bottom: 0;
}
.chat::-webkit-scrollbar{
    width: calc(5*var(--size));
    background: none;
}
.chat::-webkit-scrollbar-thumb{
    background:none;
}
.chat::-webkit-scrollbar-thumb:hover{
    background: #2A9E50;
    border-radius: calc(7*var(--size));
}
.messages-container{
    margin-bottom: calc(20*var(--size));
    margin-top: calc(20*var(--size));
}
