.chat{
    height: calc(540*var(--size));
    padding-bottom: calc(120*var(--size));
    overflow-y: scroll;
    overflow-x:hidden;
}
.chat::-webkit-scrollbar{
    width: calc(10*var(--size));
    background: none;
}
.chat::-webkit-scrollbar-thumb{
    background:none;
}
.chat::-webkit-scrollbar-thumb:hover{
    background: #2A9E50;
    border-radius: calc(7*var(--size));
}
.messages-container{
    margin-bottom: calc(20*var(--size));
    margin-top: calc(20*var(--size));
}
