.comment-profile-link{
    color: black;
    cursor: pointer;
    margin-right: calc(10*var(--size));
}
.comment-profile-link:hover{
    color: black;
    text-decoration: underline;
}
.comment-info{
    display:flex;
    max-height: calc(20*var(--size));
}
.comment{
    font-family: 'Source Serif Pro', sans-serif;
    margin-bottom: calc(20*var(--size));
}
.comment-reply{
    cursor: pointer;
    color: black;
}
.comment-reply:hover{
    text-decoration: underline;
}
.comment-text{
    padding-bottom:calc(2*var(--size));
    margin-bottom: calc(2*var(--size));
    color: black;
    font-weight: 700;
}
.comment-img{

    margin-right: calc(20*var(--size));
    min-height: calc(60*var(--size));
    min-width: calc(60*var(--size));
    max-height: calc(60*var(--size));
    max-width: calc(60*var(--size));
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    background: #C4C4C4;

}
.comment-img-exists{

    margin-right: calc(20*var(--size));
    min-height: calc(60*var(--size));
    min-width: calc(60*var(--size));
    max-height: calc(60*var(--size));
    cursor: pointer;
    max-width: calc(60*var(--size));
    overflow: hidden;
    border-radius: 50%;

}
.comment-date{
    color: rgb(150, 150, 150);
    margin:0;
}
.secondary-comment{
    font-family: 'Source Serif Pro', sans-serif;
    margin-bottom: calc(20*var(--size));
    margin-left: calc(30*var(--size));
}
.comment-footer{
    display:flex;
}
.like{
    margin-top: calc(-10*var(--size));
    margin-right: calc(10*var(--size));
    width: calc(40*var(--size));
    height: calc(40*var(--size));
    background: none;
    cursor: pointer;
    border-radius:50%;
    border:none;
    outline:none;
}
.delete{
    width: calc(40*var(--size));
    height: calc(40*var(--size));
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: calc(-10*var(--size));
}
.inner-comments{
    margin-left: calc(40*var(--size));
}
.comment-container{
    display: flex;
}
.like-number-comms{
    margin-left: calc(10*var(--size));
}