.friend{
    margin-top: calc(20*var(--size));
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 99.99%, rgba(255, 255, 255, 0.0234375) 100%), #77BB59;
    border-radius: calc(5*var(--size));
    
}

.participant{
    width: calc(835*var(--size));
	display:flex;
}

.participant-photo{
    width: calc(100*var(--size));
    height: calc(100*var(--size));
    overflow:hidden;
    margin-left: calc(20*var(--size));
    margin-top: calc(10*var(--size));
    cursor:pointer;
    margin-bottom: calc(10*var(--size));
    border-radius: 50%;
    
}
.participant-photo-container{
	margin-right: calc(25*var(--size));	
}
.part-name{
    width: calc(240*var(--size));
    cursor:pointer;
	margin-left: calc(20*var(--size));
}
.no-photo{
	 width: calc(100*var(--size));
    height: calc(100*var(--size));
    overflow:hidden;
    margin-left: calc(20*var(--size));
    margin-top: calc(10*var(--size));
    margin-bottom: calc(10*var(--size));
    cursor: pointer;
	background: #C4C4C4;
    border-radius: 50%;
}
.gap{
	width: calc(50*var(--size));
	height: 1px;
	opacity: 0;
}
.participant-name{
    display:flex;
    margin:0;
    cursor:pointer;
    margin-top: calc(40*var(--size));
    margin-bottom: calc(10*var(--size));
	width: calc(210*var(--size));
    height: calc(30*var(--size));
    font-size:calc(24*var(--size));

}
.part-online{
    margin-left: calc(5*var(--size));
    margin-top: calc(48*var(--size));
	width: calc(10*var(--size));
	height: calc(10*var(--size));
	border-radius: 50%;
	background: red;
 }
.part-offline{
    margin-left: calc(5*var(--size));
    margin-top: calc(48*var(--size));
	width: calc(10*var(--size));
	height: calc(10*var(--size));
	border-radius: 50%;
	background: #656565;
}
.friend-name a{
    text-decoration: none;
    font-family: 'Source Serif Pro', sans-serif;
	color: #000000;
    font-size: calc(24*var(--size));
    line-height: calc(28*var(--size));
}

.delete-friend{
    width: calc(140*var(--size));
    margin-top: calc(30*var(--size));
    margin-left: calc(350*var(--size));
    cursor: pointer;
    height: calc(50*var(--size));
    background: #7CBC5F;
	border-radius: calc(50*var(--size));
	border: none;
    font-family: 'Source Serif Pro', sans-serif;
	font-size: calc(24*var(--size));
	line-height: calc(28*var(--size));
	text-align: center;
	color: #FFFFFF;
    outline: none;
    background: #70B351;
}
.make-admin{
	width: calc(240*var(--size));
    height: calc(70*var(--size));
    margin-left: calc(90*var(--size));
    margin-top: calc(20*var(--size));
    cursor: pointer;
}
.ban-user{
    margin-left: calc(30*var(--size))	;
    cursor:pointer;
}
