.profile-container{
    position: absolute;
    top: 2%;
    width: calc(960*var(--size));
    height: 96%;
    left: 50%;
    transform: translate(-50%   ,0);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -0.76%, rgba(255, 255, 255, 0.5) 99.24%), #7CBC5F;
    box-shadow: inset calc(0*var(--size)) calc(4*var(--size)) calc(4*var(--size)) rgba(0, 0, 0, 0.25);
    z-index: 5;
}
#profile-logo{
    position: absolute;
    top:calc(10*var(--size));
    right:calc(10*var(--size));
    cursor: pointer;
    }