.groups-header{
    display:flex;
    justify-content: space-evenly;
}
.group-header-name{
    max-width: calc(200*var(--size));
    margin-top:calc(10*var(--size));
    font-size: calc(24*var(--size));
    margin-left: calc(30*var(--size));
    text-align:center;
}
.groups-header-image{
    width: calc(200*var(--size));
    height: calc(240*var(--size));
    margin-top: calc(6*var(--size));
    margin-left: calc(32*var(--size));
    background: #C4C4C4;
    overflow: hidden;
}
.groups-header-image-exists{
    width: calc(200*var(--size));
    height: calc(240*var(--size));
    margin-top: calc(6*var(--size));
    margin-left: calc(32*var(--size));
    overflow: hidden;
}
.middle-header{
    margin-left:calc(-50*var(--size));
}
.groups-break-line{
    margin-top: calc(-205*var(--size));
    background:black;
    border:1px solid black;
}
.groups-break-line-user{
    margin-top: -calc(70*var(--size));
    background:black;
    border:1px solid black;
}
.group-buttons{
    display:flex;
    flex-direction: column;
}
.groups-change-avatar, .groups-join, .groups-send-post{
    width: calc(200*var(--size));
    height: calc(40*var(--size));
    margin-top: calc(10*var(--size));
    margin-left: calc(30*var(--size)); 
    background: #7CBC5F;
    border-radius: calc(50*var(--size));
    font-size:calc(18*var(--size));
    border:none;
    cursor: pointer;
    outline:none;
}
.group-participants{
    margin-top:calc(275*var(--size));
    width: calc(200*var(--size));
    height:calc(40*var(--size));
    background: #7CBC5F;
    border-radius: calc(50*var(--size));
    font-size:calc(18*var(--size));
    border:none;
    cursor: pointer;
    outline:none;
}
.group-banned{
    margin-top:calc(275*var(--size));
    margin-left:calc(-20*var(--size));
    width:calc(200*var(--size));
    height:calc(40*var(--size));
    background: #7CBC5F;
    border-radius: calc(50*var(--size));
    font-size:calc(18*var(--size));
    cursor: pointer;
    border:none;
    outline:none;
}
input[type="file"] {
    display: none;
}
.groups-change-avatar{
    cursor:pointer;
    height:calc(30*var(--size));
    text-align:center;
    padding-top:calc(10*var(--size));
    font-size: calc(20*var(--size));
}
.search-input {
	display:flex;
}
.search-input{
	width: calc(850*var(--size));
	height: calc(70*var(--size));
	margin-left: calc(15*var(--size));
	margin-top: calc(20*var(--size));
    border: none;
	font-size: calc(20*var(--size));
	padding-bottom: calc(25*var(--size));
	padding-left: calc(25*var(--size));
	overflow:hidden;
	outline:none;
}
.user-list{
	margin-left: calc(25*var(--size));
    margin-top:calc(10*var(--size));
	width: calc(900*var(--size));

	height: calc(650*var(--size));
	overflow-y:scroll;
}

.user-list::-webkit-scrollbar{
    width: 0px;
    background: none;
}
.user-list::-webkit-scrollbar-thumb{
    background:none;
}
.user-list::-webkit-scrollbar-thumb:hover{
    background: none;
    border-radius: 7px;
}
